.checkout {
    margin: auto;
    width: 40%;
}

form {
    padding-top: 20px;
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 15px;

    label {
        text-align: right;
    }
    label:after {
        content: ":";
    }

    .long-label {
        max-width: 160px;
    }

    .submit {
    }
}
