body {
    background-color: lightblue;
}

.entry {
    position: relative;
    display: inline-block;
}

.badge {
    position: absolute;
    background-color: green;
    color: white;
    padding: 4px 8px;
    text-align: center;
}

.message {
    font-size: large;
}